@font-face {
    /* font-family: "CosmosLogic"; a name to be used later*/
    src: url("resources/Mario-Kart-DS.ttf"); /*URL to font*/
}

.root {
     /* -fx-background-image: url("resources/play_background_white_long.png"); */
     -fx-background-color: #FFFFFF;
     -fx-font-family: 'Mario Kart DS';
}

.label {
    -fx-font-family: "Mario Kart DS";
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}

.button:hover {

    -fx-border-width: 3px;
    -fx-border-style: dotted;
    -fx-border-radius: 25px;

    //-fx-background-color: radial-gradient( radius 100%, white, green, orange);
}


.button{
    -fx-background-color: none;
    -fx-font-family: "Mario Kart DS";
    -fx-font-size: 22px;
}

.button:pressed {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 25px;
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 25px;
}

#button_resetBoard {
    -fx-border-width: 3px;
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 25;
}

#button_resetScore {
    -fx-border-width: 3px;
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 25;
    -fx-font-size: 15px;
}

#buttonBack {
     -fx-background-image: url("resources/backButton.png");
     -fx-background-size: 40px 40px;
}
#buttonBack:hover {
    -fx-border-color: #FFFFFF;
}
#buttonBack:pressed {
     -fx-background-color: #FFFFFF;
     -fx-border-color: #FFFFFF;
     -fx-opacity: 0.5;
}

#label_player1 {
    -fx-font-family: "Mario Kart DS";
    -fx-font-size: 48px;
    -fx-text-fill: #000000;
}

#label_player2 {
    -fx-font-family: "Mario Kart DS";
    -fx-font-size: 48px;
    -fx-text-fill: #000000;
}

#vbox1 {
    -fx-border-width: 4px;
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 25;
}

#vbox2 {
    -fx-border-width: 4px;
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 25;
}

#gridPane {
    -fx-background-image:url("resources/play_background_grid.png");
}

#label_player1score {
    -fx-font-size: 48px;
}

#label_player2score {
    -fx-font-size: 48px;
}
/*
#label_scoreTitle1 {
    -fx-border-width: 4px;
    -fx-border-color: #000000;
    -fx-background-color: red;
    -fx-border-radius: 25;
}

#label_scoreTitle2 {
    -fx-border-width: 4px;
    -fx-border-color: #000000;
    -fx-background-color: red;
    -fx-border-radius: 25;
}
*/